:root {
  --white: #f9f7f7;
  --gray-light: #d2d7e2;
  --gray-light-2: #cacfd8;
  --blue: #1564c4;
  --gray-blue: #506f92;
  --dark-blue: #112d4e;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--white);
  color: var(--dark-blue);
  font-family: "Roboto", sans-serif;
}

input,
button {
  font-family: "Roboto", sans-serif;
}

button {
  cursor: pointer;
  transition: 0.2s;
  border: none;
  border-radius: 0.4rem;
  border: 2px solid var(--dark-blue);
  color: var(--white);
  background: var(--dark-blue);
  font-weight: 700;

  padding: 0.5rem;

  &:hover {
    color: var(--dark-blue);
    background: transparent;
  }
}

.loading-session {
  display: flex;
  justify-content: center;
  align-items: center;

  margin-top: 5rem;
}
