.container {
  padding: 1rem;
  max-width: 1080px;
  margin: 0 auto;

  display: flex;
  flex-direction: column;

  .info {
    display: grid;
    grid-template-columns: 1fr 2.5fr;
    background: var(--gray-light);

    .logo {
      padding: 1rem;
      align-self: center;
    }
    .profile {
      padding: 0.7rem;
      display: flex;
      align-items: center;

      img {
        width: 3rem;
        border-radius: 100%;
        margin-right: 0.5rem;
      }
    }
  }

  .roomsAndChat {
    grid-template-columns: 1fr 2.5fr;
    display: grid;

    border-top: 2px solid var(--white);

    .rooms {
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      align-self: flex-start;
      flex-direction: column;

      background: var(--gray-light);

      height: 80vh;
      overflow-y: auto;

      border-right: 2px solid var(--white);

      .room {
        width: 100%;
        cursor: pointer;
        transition: 0.2s;

        display: flex;
        justify-content: flex-start;
        align-items: center;

        border-top: 2px solid var(--white);
        padding: 0.5rem;

        &:hover {
          background: var(--gray-light-2);
        }

        img {
          width: 3rem;
          border-radius: 100%;
        }

        div {
          display: flex;
          flex-direction: column;
          margin-left: 1rem;

          span {
            margin-top: 0.2rem;
            font-size: 0.9rem;

            display: flex;
            align-items: center;

            .iconCopy {
              transition: 0.2s;
            }

            .iconCopy:hover {
              color: var(--blue);
            }
          }
        }
      }

      :first-child {
        border-top: none;
      }
    }

    .chat {
      display: flex;
      justify-content: flex-end;
      align-items: flex-start;
      flex-direction: column;

      background: var(--gray-light);
      height: 80vh;

      .messages {
        width: 100%;
        padding: 0 1rem;

        overflow-y: auto;

        div {
          display: flex;
          width: 100%;
          color: var(--white);

          margin-top: 0.5rem;

          span {
            max-width: 80%;
            border-radius: 0.7rem;
            padding: 0.7rem;
            background: var(--blue);
          }
        }

        .receive {
          justify-content: flex-start;
          span {
            background: var(--gray-blue);
          }
        }

        .sent {
          justify-content: flex-end;
        }
      }

      form {
        display: flex;
        width: 100%;
        padding: 1rem;

        input {
          border: none;
          border-radius: 0.4rem;
          width: 100%;
          margin-right: 0.5rem;
          caret-color: var(--dark-blue);
          padding: 0.5rem;

          &::placeholder {
            color: var(--dark-blue);
          }
        }

        button {
          padding: 0.5rem;
        }
      }
    }

    .containerButtonNewRoom {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;

      background: var(--gray-light);

      button {
        margin-top: 1rem;
        font-size: 1rem;
        padding: 0.7rem;
      }
    }
  }
}
