.container {
  padding: 1rem;
  max-width: 1080px;
  margin: 0 auto;

  display: flex;
  flex-direction: column;

  hr {
    border-top: 1px solid var(--white);
  }

  .info {
    display: grid;
    grid-template-columns: 1fr 2.5fr;

    background: var(--gray-light);

    .logo {
      align-self: center;
      margin-left: 0.8rem;
    }
    .profile {
      margin: 0.5rem 0 0.5rem 0.5rem;
      display: flex;
      align-items: center;

      img {
        width: 3rem;
        border-radius: 100%;
      }
    }
  }

  .contactsAndChat {
    grid-template-columns: 1fr 2.5fr;
    display: grid;

    .contacts {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      align-self: flex-start;
      flex-direction: column;

      background: var(--gray-light);

      height: 80vh;
      overflow-y: auto;

      border-right: 2px solid var(--white);

      .contact {
        cursor: pointer;
        transition: 0.2s;

        display: flex;
        justify-content: center;
        align-items: center;

        border-top: 2px solid var(--white);
        padding: 0.5rem;

        &:hover {
          opacity: 0.8;
        }

        img {
          width: 3rem;
          border-radius: 100%;
        }

        div {
          display: flex;
          flex-direction: column;
          margin-left: 1rem;

          span {
            font-size: 0.9rem;
          }
        }
      }

      :first-child {
        border-top: none;
      }
    }

    .chat {
      display: flex;
      justify-content: flex-end;
      align-items: flex-start;
      flex-direction: column;

      background: var(--gray-light);
      height: 80vh;

      .messages {
        width: 100%;
        padding: 0 1rem;

        overflow-y: auto;

        div {
          display: flex;
          width: 100%;
          color: var(--white);

          margin-top: 0.5rem;

          span {
            max-width: 80%;
            border-radius: 0.7rem;
            padding: 0.7rem;
            background: var(--blue);
          }
        }

        .receive {
          justify-content: flex-start;
          span {
            background: var(--gray-blue);
          }
        }

        .sent {
          justify-content: flex-end;
        }
      }

      form {
        display: flex;
        width: 100%;
        padding: 1rem;

        input {
          border: none;
          border-radius: 0.4rem;
          width: 100%;
          margin-right: 0.5rem;
          caret-color: var(--dark-blue);
          padding: 0.5rem;

          &::placeholder {
            color: var(--dark-blue);
          }
        }

        button {
          font-weight: 700;
          transition: 0.2s;
          cursor: pointer;
          border: none;
          border-radius: 0.4rem;
          padding: 0.5rem;
          border: 2px solid var(--dark-blue);
          color: var(--white);
          background: var(--dark-blue);

          &:hover {
            color: var(--dark-blue);
            background: transparent;
          }
        }
      }
    }
  }
}
